.main {
  width: 750px;
  margin: 0 auto;
  border-radius: 20px;
  background: rgb(40, 153, 208);
  background: linear-gradient(
    90deg,
    rgba(40, 153, 208, 1) 33%,
    rgba(0, 125, 232, 1) 74%,
    rgba(148, 217, 233, 1) 100%
  );
}

.top {
  height: 60px;
  background-color: #424242;
  color: whitesmoke;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  font-family: "Recursive", sans-serif;
  display: flex;
  justify-content: space-between;
}

.header {
  height: 40px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(71, 93, 176, 1) 43%,
    rgba(90, 9, 121, 1) 93%,
    rgba(0, 212, 255, 1) 100%
  );

  color: whitesmoke;
  margin: 10px 0px 0px 10px;
  padding: 10px;
  font-size: 25px;
  border-radius: 20px 20px 0 0;
  font-family: "Recursive", sans-serif;
}

.day {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.temp {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sunriseSunset {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
}

.description {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
  color: #4682b4;
}
