.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
