.flex_line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 40px;

  background: rgb(40, 208, 198);
  background: linear-gradient(
    90deg,
    rgba(40, 208, 198, 1) 25%,
    rgba(0, 125, 232, 1) 53%,
    rgba(153, 148, 233, 1) 96%
  );
  color: white;
  border-radius: 5px;
}
.list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
}
